@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: max-content;
}

body{
  max-height: max-content;
  display: flex;
  flex-direction: column;
}


.listStatusBtn{
  @apply min-h-[4vh] min-w-[4vw] outline-none active:text-[blue] focus:text-[blue] active:scale-[1.3] active:transition-all active:duration-100
}