@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* font-family: 'Cookie', cursive; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
#root{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
  max-height: max-content;
  display: flex;
  flex-direction: column;
}

.List:hover .listItem{
  opacity: 0.8;
  filter: blur(2px);
}
.List .listItem:hover{
  opacity: 1;
  filter: blur(0);
}

.addBtn{
  height: 2rem;
  width: 1.6rem;
}

.listStatusBtn{
  @apply min-h-[4.8vh] min-w-[4.8vw] outline-none active:text-[blue] focus:text-[blue] active:scale-[1.3] active:transition-all active:duration-100
}
